# Requirements.txt to replicate the exact package environment (not suitable for 
# users who install this as a component of their work---this will probably
# cause dependency hell (Google it)).
matplotlib
numpy
pandas

# For development
bump2version
black==18.5b0 # Newer versions have seg faults or ImportErrors.

-e . # Install this project